*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;  
 }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #59050563; /* pone aquí el color de fondo que quieras */
}

#lienzo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent; /* transparente para dejar ver el body */
  display: block;
}